{% extends "base.html" %}
{% block titulo %} Ofertas – MyWallapop {% endblock %}
{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/oferta/list" >
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="Nombre de la oferta" name="busqueda"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<h2>Ofertas</h2>
<table class="table table-hover" id="tableOfertas">
    <thead>
    <tr>
        <th class="col-md-1">Titulo</th>
        <th>Descripción</th>
        <th>Precio (euros)</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
    </tr>
    </thead>
    <tbody>
<!-- Inicio del Bloque oferta -->
    {% for oferta in ofertas %}
        <tr>
            <td>{{oferta.titulo}}>1</td>
            <td>{{oferta.descripcion}}</td>
            <td>{{oferta.precio}} €</td>
            <td><a href="${'/oferta/details/' + oferta.id}">detalles</a></td>
            <!--
            <td>
                <div th:if="${!oferta.comprada}">
                    <div th:if="${!(oferta.user.id==session.usuario.id)}">
                        <button type="button" th:id="${'buyButton' + oferta.id}" class="btn btn-info" th:text="#{oferta.comprar}">Comprar</button>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $( "#buyButton[[${oferta.id}]]" ).click(function() {
                                $.get( "/oferta/[[${oferta.id}]]/comprar", function( data ) {
                                    var numberPage = [[${param.page}]];
                                    var urlUpdate = '/oferta/list';
                                    if ( numberPage != null ){
                                        urlUpdate += "?page="+numberPage[0];
                                    }
                                    $("#lista").load(urlUpdate);
                                    location.reload();
                                    if([[${oferta.cantidad}]] > [[${session.usuario.saldo}]]){
                                        alert("Error al realizar la compra, saldo insuficiente.");
                                    }
                                });
                            });
                            /*]]>*/
                        </script>
                    </div>
                </div>
            </td>
            <td th:if="${oferta.comprada}" th:text="#{oferta.vendida}"></td>
            -->
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Fin del Bloque oferta -->
<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
            <li class="page-item" id="pi-{{ pagina }}">
                <a class="page-link" href="/oferta/list?pg={{ pagina }}">{{ pagina }}</a>
            </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{ actual }}").addClass("active");
        </script>
    </ul>
</div>
{% endblock %}