{% extends "base.html" %} 

{% block titulo %} Registrar usuario {% endblock %} 

{% block contenido_principal %}
  <h2>Registrar usuario</h2>
  <form class="form-horizontal" method="post" action="/usuario" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email"
            placeholder="email@email.com" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" name="nombre"
               placeholder="Pedro" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="apellidos" name="apellidos"
               placeholder="Fernández García" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Contraseña:</label>
      <div class="col-sm-10">          
        <input type="password"  class="form-control" id="password" name="password"
        	placeholder="contraseña" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="passwordc">Confirma la contraseña:</label>
      <div class="col-sm-10">
        <input type="password"  class="form-control" id="passwordc" name="passwordc"
               placeholder="repetir contraseña" required="true" />
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </form>
{% endblock %}