{% extends "base.html" %}

{% block titulo %} Home {% endblock %}

{% block contenido_principal %}
<div class="container" style="text-align: center">
    <h2>Bienvenido</h2>
    <h3>Esta es una zona privada la web</h3>
    <p>
			<span>
			Usuario Autenticado como:</span>
        <span>{{ usuario }}</span>
    </p>
    <sec></sec><sec></sec>
</div>
<div class="container">
    {% if rol != "admin" %}
        <h2>Ofertas destacadas</h2>
        <table class="table table-hover" id="tableOfertas">
            <thead>
                <tr>
                    <th class="col-md-2">Titulo</th>
                    <th>Descripción</th>
                    <th>Precio (euros)</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
                <tbody>
                    {% if ofertas != null %}
                        <!-- Inicio del Bloque oferta -->
                        {% for oferta in ofertas %}
                            <tr>
                                <td>{{oferta.titulo}}</td>
                                <td>{{oferta.descripcion}}</td>
                                <td>{{oferta.precio}} €</td>
                                <td><a href="/oferta/{{ oferta._id.toString() }}">detalles</a></td>
                                {% if oferta.vendedor == usuario %}
                                    {% if oferta.comprador != null %}
                                    <td>Vendido</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                {% elseif oferta.comprador == null %}
                                    <td>
                                        <a href="/oferta/comprar/{{oferta._id.toString()}}">
                                            <button class="btn btn-primary">Comprar</button>
                                        </a>
                                    </td>
                                {% else %}
                                    <td>Vendido</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
    {% endif %}
</div>
{% endblock %}